@model Hospital_Management_System.Models.Patient

@{
    ViewBag.Title = "DeletePatient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Patient</li>
        <li class="active">Delete Patient</li>
    </ol>
</div>

<h2>Delete Patient</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
<<<<<<< HEAD
            <input type="hidden" value="@Model.ApplicationUserId" name="id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @*@Html.ActionLink("Delete","Delete",Model.ApplicationUserId, new { @class="btn btn-danger"}) |*@
            @Html.ActionLink("Back to List", "ListOfPatients", null, new { @class="btn btn-default"})
=======
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "ListOfPatients")
>>>>>>> 3c552410d40ec94cbecda862c77b7e85a15807a4
        </div>
    }
</div>
